In [ ]:
!pip install kaggle --upgrade

import os
os.environ['KAGGLE_USERNAME'] = 'hardm00n'
os.environ['KAGGLE_KEY'] = '705411ac0f42b6a6e137b07cfb0b188e'

!kaggle datasets download -d shivamb/netflix-shows
!unzip '*.zip'

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Downloading netflix-shows.zip to /content
  0% 0.00/1.34M [00:00<?, ?B/s]
100% 1.34M/1.34M [00:00<00:00, 36.9MB/s]
Archive:  netflix-shows.zip
  inflating: netflix_titles.csv

In [ ]:
!ls

netflix-shows.zip  netflix_titles.csv  sample_data

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('/content/netflix_titles.csv')
print(data.shape)
data.head()

(8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
data['country'] = data['country'].fillna(data['country'].mode()[0])  # 최빈값으로 결측치 대체
data['director'].replace(np.nan, 'No Data',inplace=True)  # 감독 결측치는 'No Data'로 일단은 대체!
data.dropna(inplace=True) # 기타 결측치 제거
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",United States,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",United States,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [ ]:
import datetime

data['date_added'] = pd.to_datetime(data['date_added'])
data['month'] = data['date_added'].dt.month

In [ ]:
data['season'] = 0
data.loc[(data['month'] < 3) | (data['month'] == 12), 'season'] = 'Winter'
data.loc[(data['month'] >= 3) & (data['month'] < 6), 'season'] = 'Spring'
data.loc[(data['month'] >= 6) & (data['month'] < 9), 'season'] = 'Summer'
data.loc[(data['month'] >= 9) & (data['month'] < 12), 'season'] = 'Autumn'
data = data.drop(['date_added', 'cast', 'description'], axis=1)

In [ ]:
data

,show_id,type,title,director,country,release_year,rating,duration,listed_in,month,season
1,s2,TV Show,Blood & Water,No Data,South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",9,Autumn
2,s3,TV Show,Ganglands,Julien Leclercq,United States,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",9,Autumn
4,s5,TV Show,Kota Factory,No Data,India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",9,Autumn
5,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",9,Autumn
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha",United States,2021,PG,91 min,Children & Family Movies,9,Autumn
...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",3,Spring
8802,s8803,Movie,Zodiac,David Fincher,United States,2007,R,158 min,"Cult Movies, Dramas, Thrillers",11,Autumn
8804,s8805,Movie,Zombieland,Ruben Fleischer,United States,2009,R,88 min,"Comedies, Horror Movies",11,Autumn
8805,s8806,Movie,Zoom,Peter Hewitt,United States,2006,PG,88 min,"Children & Family Movies, Comedies",1,Winter
8806,s8807,Movie,Zubaan,Mozez Singh,India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",3,Spring

In [ ]:
data['season'].value_counts()

Summer    2079
Autumn    2029
Winter    1933
Spring    1924
Name: season, dtype: int64

In [ ]:
print(data['listed_in'])

1         International TV Shows, TV Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
4       International TV Shows, Romantic TV Shows, TV ...
5                      TV Dramas, TV Horror, TV Mysteries
6                                Children & Family Movies
                              ...
8801              Dramas, International Movies, Thrillers
8802                       Cult Movies, Dramas, Thrillers
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 7965, dtype: object

In [ ]:
data['listed_in'] = data['listed_in'].str.replace(", ",",")
data['listed_in'] = data['listed_in'].str.replace("International TV Shows,","")
data['listed_in'] = data['listed_in'].str.replace("International Movies,","")
data['listed_in'] = data['listed_in'].str.replace(",International TV Shows","")
data['listed_in'] = data['listed_in'].str.replace(",International Movies","")
data['listed_in'] = data['listed_in'].str.replace("TV Shows,","")
data['listed_in'] = data['listed_in'].str.replace("Movies,","")
data['listed_in'] = data['listed_in'].str.replace(",TV Shows","")
data['listed_in'] = data['listed_in'].str.replace(",Movies","")
data['listed_in'] = data['listed_in'].str.replace("TV ","")
print(data['listed_in'])

1                 Dramas,Mysteries
2         Crime Action & Adventure
4                Romantic Comedies
5          Dramas,Horror,Mysteries
6         Children & Family Movies
                   ...
8801              Dramas,Thrillers
8802         Cult Dramas,Thrillers
8804        Comedies,Horror Movies
8805    Children & Family Comedies
8806       Dramas,Music & Musicals
Name: listed_in, Length: 7965, dtype: object

In [ ]:
data['listed_in'] = data['listed_in'].apply(lambda g : [x for x in g.split(',')])
print(data['listed_in'])

1                [Dramas, Mysteries]
2         [Crime Action & Adventure]
4                [Romantic Comedies]
5        [Dramas, Horror, Mysteries]
6         [Children & Family Movies]
                    ...
8801             [Dramas, Thrillers]
8802        [Cult Dramas, Thrillers]
8804       [Comedies, Horror Movies]
8805    [Children & Family Comedies]
8806      [Dramas, Music & Musicals]
Name: listed_in, Length: 7965, dtype: object

In [ ]:
spring = data[data['season']=='Spring']
genre_spring = spring[['listed_in','season']]
genre_spring.head()

                        listed_in  season
825     [Crime Dramas, Mysteries]  Spring
826             [Stand-Up Comedy]  Spring
827                    [Comedies]  Spring
828                      [Dramas]  Spring
829  [Children & Family Comedies]  Spring

In [ ]:
spring_data = pd.DataFrame()
for genre in genre_spring['listed_in']:
  new_data = pd.DataFrame({'listed_in' : genre,'season':['Spring']*len(genre)})
  
  spring_data = spring_data.append(new_data)
  
spring_data

           listed_in  season
0       Crime Dramas  Spring
1          Mysteries  Spring
0    Stand-Up Comedy  Spring
0           Comedies  Spring
0             Dramas  Spring
..               ...     ...
1           Kids' TV  Spring
0             Dramas  Spring
1          Thrillers  Spring
0             Dramas  Spring
1   Music & Musicals  Spring

[2919 rows x 2 columns]

In [ ]:
top_genre_spring = spring_data['listed_in'].value_counts()
top_genre_spring.head(10)

Dramas                697
Comedies              458
Action & Adventure    208
Romantic Movies       140
Independent Movies    135
Documentaries         107
Thrillers             104
Stand-Up Comedy        81
Kids' TV               81
Music & Musicals       77
Name: listed_in, dtype: int64

In [ ]:
summer = data[data['season']=='Summer']
genre_summer = summer[['listed_in','season']]
genre_summer

                                 listed_in  season
183   [Action & Adventure, Classic Movies]  Summer
184                           [Reality TV]  Summer
186                    [Romantic Comedies]  Summer
187                             [Comedies]  Summer
188                             [Comedies]  Summer
...                                    ...     ...
8776          [Children & Family Comedies]  Summer
8783                            [Kids' TV]  Summer
8784            [Children & Family Movies]  Summer
8785                            [Kids' TV]  Summer
8788                              [Dramas]  Summer

[2079 rows x 2 columns]

In [ ]:
summer_data = pd.DataFrame()
for genre in genre_summer['listed_in']:
  new_data = pd.DataFrame({'listed_in' : genre,'season':['Summer']*len(genre)})
  summer_data = summer_data.append(new_data)

summer_data

                     listed_in  season
0           Action & Adventure  Summer
1               Classic Movies  Summer
0                   Reality TV  Summer
0            Romantic Comedies  Summer
0                     Comedies  Summer
..                         ...     ...
0   Children & Family Comedies  Summer
0                     Kids' TV  Summer
0     Children & Family Movies  Summer
0                     Kids' TV  Summer
0                       Dramas  Summer

[3169 rows x 2 columns]

In [ ]:
top_genre_summer = summer_data['listed_in'].value_counts()
top_genre_summer.head(10)

Dramas                721
Comedies              446
Action & Adventure    270
Independent Movies    142
Romantic Movies       138
Thrillers             124
Documentaries         113
Kids' TV               98
Stand-Up Comedy        83
Sci-Fi & Fantasy       78
Name: listed_in, dtype: int64

In [ ]:
autumn = data[data['season']=='Autumn']
genre_autumn = autumn[['listed_in','season']]
genre_autumn

                         listed_in  season
1              [Dramas, Mysteries]  Autumn
2       [Crime Action & Adventure]  Autumn
4              [Romantic Comedies]  Autumn
5      [Dramas, Horror, Mysteries]  Autumn
6       [Children & Family Movies]  Autumn
...                            ...     ...
8793  [Children & Family Comedies]  Autumn
8794  [Dramas, Independent Movies]  Autumn
8797                    [Kids' TV]  Autumn
8802      [Cult Dramas, Thrillers]  Autumn
8804     [Comedies, Horror Movies]  Autumn

[2029 rows x 2 columns]

In [ ]:
autumn_data = pd.DataFrame()
for genre in genre_autumn['listed_in']:
  new_data = pd.DataFrame({'listed_in' : genre,'season':['Autumn']*len(genre)})
  autumn_data = autumn_data.append(new_data)

autumn_data

                   listed_in  season
0                     Dramas  Autumn
1                  Mysteries  Autumn
0   Crime Action & Adventure  Autumn
0          Romantic Comedies  Autumn
0                     Dramas  Autumn
..                       ...     ...
0                   Kids' TV  Autumn
0                Cult Dramas  Autumn
1                  Thrillers  Autumn
0                   Comedies  Autumn
1              Horror Movies  Autumn

[3077 rows x 2 columns]

In [ ]:
top_genre_autumn = autumn_data['listed_in'].value_counts()
top_genre_autumn.head(10)

Dramas                649
Comedies              432
Action & Adventure    260
Romantic Movies       149
Independent Movies    123
Thrillers             118
Documentaries         109
Kids' TV              100
Music & Musicals       96
Stand-Up Comedy        84
Name: listed_in, dtype: int64

In [ ]:
winter = data[data['season']=='Winter']
genre_winter = winter[['listed_in','season']]
genre_winter

                                   listed_in  season
1257                          [Anime Series]  Winter
1258            [Children & Family Comedies]  Winter
1259  [Comedies, Dramas, Independent Movies]  Winter
1260             [Comedies, Romantic Movies]  Winter
1261            [Dramas, Independent Movies]  Winter
...                                      ...     ...
8796                                [Dramas]  Winter
8798                      [Comedies, Dramas]  Winter
8799                                [Dramas]  Winter
8800                       [Romantic Dramas]  Winter
8805            [Children & Family Comedies]  Winter

[1933 rows x 2 columns]

In [ ]:
winter_data = pd.DataFrame()
for genre in genre_winter['listed_in']:
  new_data = pd.DataFrame({'listed_in' : genre,'season':['Winter']*len(genre)})
  winter_data = winter_data.append(new_data)

winter_data

                     listed_in  season
0                 Anime Series  Winter
0   Children & Family Comedies  Winter
0                     Comedies  Winter
1                       Dramas  Winter
2           Independent Movies  Winter
..                         ...     ...
0                     Comedies  Winter
1                       Dramas  Winter
0                       Dramas  Winter
0              Romantic Dramas  Winter
0   Children & Family Comedies  Winter

[2936 rows x 2 columns]

In [ ]:
top_genre_winter = winter_data['listed_in'].value_counts()
top_genre_winter.head(10)

Dramas                641
Comedies              408
Action & Adventure    219
Independent Movies    158
Romantic Movies       128
Thrillers             105
Documentaries         101
Kids' TV               96
Stand-Up Comedy        94
Music & Musicals       68
Name: listed_in, dtype: int64

In [ ]:
groups = data.groupby(data.type)
tv_shows = groups.get_group('TV Show')
movies = groups.get_group('Movie')

In [ ]:
print('tv shows')
tv_shows

tv shows

,show_id,type,title,director,country,release_year,rating,duration,listed_in,month,season
1,s2,TV Show,Blood & Water,No Data,South Africa,2021,TV-MA,2 Seasons,"[Dramas, Mysteries]",9,Autumn
2,s3,TV Show,Ganglands,Julien Leclercq,United States,2021,TV-MA,1 Season,[Crime Action & Adventure],9,Autumn
4,s5,TV Show,Kota Factory,No Data,India,2021,TV-MA,2 Seasons,[Romantic Comedies],9,Autumn
5,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021,TV-MA,1 Season,"[Dramas, Horror, Mysteries]",9,Autumn
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,2021,TV-14,9 Seasons,[British Reality TV],9,Autumn
...,...,...,...,...,...,...,...,...,...,...,...
8785,s8786,TV Show,YOM,No Data,United States,2016,TV-Y7,1 Season,[Kids' TV],6,Summer
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,No Data,"Japan, Canada",2015,TV-Y7,2 Seasons,"[Anime Series, Kids' TV]",5,Spring
8796,s8797,TV Show,Yunus Emre,No Data,Turkey,2016,TV-PG,2 Seasons,[Dramas],1,Winter
8797,s8798,TV Show,Zak Storm,No Data,"United States, France, South Korea, Indonesia",2016,TV-Y7,3 Seasons,[Kids' TV],9,Autumn
8800,s8801,TV Show,Zindagi Gulzar Hai,No Data,Pakistan,2012,TV-PG,1 Season,[Romantic Dramas],12,Winter

In [ ]:
print('movies')
movies

movies

,show_id,type,title,director,country,release_year,rating,duration,listed_in,month,season
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha",United States,2021,PG,91 min,[Children & Family Movies],9,Autumn
7,s8,Movie,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"[Dramas, Independent Movies]",9,Autumn
9,s10,Movie,The Starling,Theodore Melfi,United States,2021,PG-13,104 min,"[Comedies, Dramas]",9,Autumn
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021,TV-MA,127 min,[Dramas],9,Autumn
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,United States,2021,TV-PG,91 min,[Children & Family Comedies],9,Autumn
...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2015,TV-MA,96 min,"[Dramas, Thrillers]",3,Spring
8802,s8803,Movie,Zodiac,David Fincher,United States,2007,R,158 min,"[Cult Dramas, Thrillers]",11,Autumn
8804,s8805,Movie,Zombieland,Ruben Fleischer,United States,2009,R,88 min,"[Comedies, Horror Movies]",11,Autumn
8805,s8806,Movie,Zoom,Peter Hewitt,United States,2006,PG,88 min,[Children & Family Comedies],1,Winter
8806,s8807,Movie,Zubaan,Mozez Singh,India,2015,TV-14,111 min,"[Dramas, Music & Musicals]",3,Spring

In [ ]:
# seasons = ['Spring','Summer','Autumn','Winter']
def genre_depending_season(showtype, season):
  season_extract = showtype[showtype['season']== season]
  genre_seasons = season_extract[['type','listed_in','season']]
  print(genre_seasons)

  
  season_data = pd.DataFrame()

  for genre in genre_seasons['listed_in'] :
    new_data = pd.DataFrame({'listed_in' : genre,'season': [season]*len(genre)})
    season_data = season_data.append(new_data)

  print(season_data)

  top_genre_season = season_data['listed_in'].value_counts()
  return top_genre_season

In [ ]:
movie_spring = genre_depending_season(movies ,'Spring')
movie_spring

       type                                         listed_in  season
826   Movie                                 [Stand-Up Comedy]  Spring
827   Movie                                        [Comedies]  Spring
828   Movie                                          [Dramas]  Spring
829   Movie                      [Children & Family Comedies]  Spring
834   Movie  [Children & Family Dramas, Faith & Spirituality]  Spring
...     ...                                               ...     ...
8769  Movie                      [Dramas, Independent Movies]  Spring
8770  Movie                         [Dramas, Romantic Movies]  Spring
8772  Movie                    [Action & Adventure, Comedies]  Spring
8801  Movie                               [Dramas, Thrillers]  Spring
8806  Movie                        [Dramas, Music & Musicals]  Spring

[1383 rows x 3 columns]
                     listed_in  season
0              Stand-Up Comedy  Spring
0                     Comedies  Spring
0                       Dramas  Spring
0   Children & Family Comedies  Spring
0     Children & Family Dramas  Spring
..                         ...     ...
1                     Comedies  Spring
0                       Dramas  Spring
1                    Thrillers  Spring
0                       Dramas  Spring
1             Music & Musicals  Spring

[2182 rows x 2 columns]

Dramas                                    596
Comedies                                  367
Action & Adventure                        184
Romantic Movies                           140
Independent Movies                        135
Documentaries                             107
Thrillers                                  92
Stand-Up Comedy                            81
Music & Musicals                           77
Children & Family Comedies                 64
Children & Family Movies                   49
Sports Movies                              41
Sci-Fi & Fantasy                           36
Horror Movies                              34
Horror Thrillers                           22
Children & Family Dramas                   17
Faith & Spirituality                       14
Movies                                     13
Independent Thrillers                      12
Independent Romantic Movies                11
Anime Features                             10
LGBTQ Movies                                8
Independent Sci-Fi & Fantasy                8
Cult Movies                                 7
Children & Family Music & Musicals          6
Independent Sports Movies                   6
Horror Independent Movies                   6
Classic Documentaries                       5
Horror Independent Thrillers                4
Classic Dramas                              4
Children & Family Documentaries             3
Horror Independent Sci-Fi & Fantasy         2
Independent Music & Musicals                2
Independent LGBTQ Movies                    2
Horror Sci-Fi & Fantasy                     2
Cult Horror Movies                          1
LGBTQ Music & Musicals                      1
Cult Independent Movies                     1
Children & Family Independent Movies        1
Romantic Sports Movies                      1
Classic Music & Musicals                    1
Classic Movies                              1
Romantic Sci-Fi & Fantasy                   1
Horror LGBTQ Music & Musicals               1
Children & Family Sci-Fi & Fantasy          1
Cult Music & Musicals                       1
Children & Family Faith & Spirituality      1
Cult Dramas                                 1
Horror Romantic Sci-Fi & Fantasy            1
Cult Independent Thrillers                  1
Name: listed_in, dtype: int64

In [ ]:
movie_summer = genre_depending_season(movies ,'Summer')
movie_summer

       type                             listed_in  season
183   Movie  [Action & Adventure, Classic Movies]  Summer
188   Movie                            [Comedies]  Summer
190   Movie                              [Dramas]  Summer
191   Movie          [Dramas, Independent Movies]  Summer
192   Movie        [Action & Adventure, Comedies]  Summer
...     ...                                   ...     ...
8765  Movie                       [Horror Movies]  Summer
8768  Movie          [Dramas, Independent Movies]  Summer
8776  Movie          [Children & Family Comedies]  Summer
8784  Movie            [Children & Family Movies]  Summer
8788  Movie                              [Dramas]  Summer

[1453 rows x 3 columns]
                     listed_in  season
0           Action & Adventure  Summer
1               Classic Movies  Summer
0                     Comedies  Summer
0                       Dramas  Summer
0                       Dramas  Summer
..                         ...     ...
0                       Dramas  Summer
1           Independent Movies  Summer
0   Children & Family Comedies  Summer
0     Children & Family Movies  Summer
0                       Dramas  Summer

[2303 rows x 2 columns]

Dramas                                    592
Comedies                                  356
Action & Adventure                        240
Independent Movies                        142
Romantic Movies                           138
Thrillers                                 113
Documentaries                             113
Stand-Up Comedy                            83
Music & Musicals                           62
Children & Family Comedies                 58
Children & Family Movies                   55
Sci-Fi & Fantasy                           53
Horror Movies                              37
Sports Movies                              36
Horror Thrillers                           23
Anime Features                             18
Classic Dramas                             18
Children & Family Dramas                   17
Independent Thrillers                      15
Horror Independent Movies                  14
Faith & Spirituality                       12
LGBTQ Movies                               11
Independent Romantic Movies                10
Independent LGBTQ Movies                   10
Cult Movies                                 9
Movies                                      8
Horror Sci-Fi & Fantasy                     8
Horror Independent Thrillers                6
Independent Music & Musicals                5
Classic Comedies                            4
Romantic Sci-Fi & Fantasy                   3
Children & Family Sports Movies             3
Classic Movies                              3
Children & Family Independent Movies        2
Children & Family Documentaries             2
Romantic Thrillers                          2
Children & Family Music & Musicals          2
Cult Horror Movies                          2
Classic Cult Movies                         2
Horror LGBTQ Movies                         2
Children & Family Sci-Fi & Fantasy          2
Independent Sci-Fi & Fantasy                2
Children & Family Faith & Spirituality      1
Cult Dramas                                 1
Classic Cult Horror Movies                  1
Cult Sci-Fi & Fantasy                       1
Romantic Sports Movies                      1
International Movies                        1
Horror Romantic Movies                      1
LGBTQ Thrillers                             1
Children & Family Classic Movies            1
Cult LGBTQ Movies                           1
Name: listed_in, dtype: int64

In [ ]:
movie_autumn = genre_depending_season(movies ,'Autumn')
movie_autumn

       type                     listed_in  season
6     Movie    [Children & Family Movies]  Autumn
7     Movie  [Dramas, Independent Movies]  Autumn
9     Movie            [Comedies, Dramas]  Autumn
12    Movie                      [Dramas]  Autumn
13    Movie  [Children & Family Comedies]  Autumn
...     ...                           ...     ...
8792  Movie          [Action & Adventure]  Autumn
8793  Movie  [Children & Family Comedies]  Autumn
8794  Movie  [Dramas, Independent Movies]  Autumn
8802  Movie      [Cult Dramas, Thrillers]  Autumn
8804  Movie     [Comedies, Horror Movies]  Autumn

[1448 rows x 3 columns]
                   listed_in  season
0   Children & Family Movies  Autumn
0                     Dramas  Autumn
1         Independent Movies  Autumn
0                   Comedies  Autumn
1                     Dramas  Autumn
..                       ...     ...
1         Independent Movies  Autumn
0                Cult Dramas  Autumn
1                  Thrillers  Autumn
0                   Comedies  Autumn
1              Horror Movies  Autumn

[2264 rows x 2 columns]

Dramas                                540
Comedies                              334
Action & Adventure                    238
Romantic Movies                       149
Independent Movies                    123
Documentaries                         109
Thrillers                             103
Music & Musicals                       96
Stand-Up Comedy                        84
Children & Family Comedies             73
Children & Family Movies               67
Horror Movies                          47
Sports Movies                          41
Sci-Fi & Fantasy                       36
Anime Features                         27
Horror Thrillers                       26
Classic Dramas                         20
Children & Family Dramas               17
LGBTQ Movies                           14
Faith & Spirituality                   11
Movies                                 10
Classic Comedies                        9
Independent Thrillers                   9
Children & Family Music & Musicals      8
Cult Movies                             7
Horror Sci-Fi & Fantasy                 6
Cult Dramas                             5
Independent Romantic Movies             5
Horror Independent Movies               5
Horror Independent Thrillers            4
LGBTQ Romantic Movies                   4
Independent Sci-Fi & Fantasy            3
Cult Horror Movies                      3
Romantic Sci-Fi & Fantasy               3
Classic Movies                          3
Romantic Thrillers                      2
Independent LGBTQ Movies                2
Children & Family Documentaries         2
Cult Horror Independent Movies          2
Classic Cult Movies                     2
Children & Family Sci-Fi & Fantasy      2
International Movies                    2
Cult Music & Musicals                   1
Classic Horror Thrillers                1
Classic Sci-Fi & Fantasy                1
Children & Family Classic Movies        1
Classic Cult Dramas                     1
Classic Thrillers                       1
Children & Family Cult Movies           1
Romantic Sports Movies                  1
Cult Sci-Fi & Fantasy                   1
Children & Family Classic Comedies      1
LGBTQ Music & Musicals                  1
Name: listed_in, dtype: int64

In [ ]:
movie_winter = genre_depending_season(movies ,'Winter')
movie_winter

       type                               listed_in  season
1258  Movie            [Children & Family Comedies]  Winter
1259  Movie  [Comedies, Dramas, Independent Movies]  Winter
1260  Movie             [Comedies, Romantic Movies]  Winter
1261  Movie            [Dramas, Independent Movies]  Winter
1262  Movie                      [Comedies, Dramas]  Winter
...     ...                                     ...     ...
8787  Movie             [Comedies, Romantic Movies]  Winter
8789  Movie                      [Comedies, Dramas]  Winter
8798  Movie                      [Comedies, Dramas]  Winter
8799  Movie                                [Dramas]  Winter
8805  Movie            [Children & Family Comedies]  Winter

[1367 rows x 3 columns]
                     listed_in  season
0   Children & Family Comedies  Winter
0                     Comedies  Winter
1                       Dramas  Winter
2           Independent Movies  Winter
0                     Comedies  Winter
..                         ...     ...
1                       Dramas  Winter
0                     Comedies  Winter
1                       Dramas  Winter
0                       Dramas  Winter
0   Children & Family Comedies  Winter

[2158 rows x 2 columns]

Dramas                                 551
Comedies                               320
Action & Adventure                     191
Independent Movies                     158
Romantic Movies                        128
Documentaries                          101
Stand-Up Comedy                         94
Thrillers                               91
Music & Musicals                        68
Children & Family Comedies              67
Sci-Fi & Fantasy                        44
Children & Family Movies                43
Horror Movies                           33
Horror Thrillers                        31
Sports Movies                           30
Faith & Spirituality                    21
Children & Family Dramas                19
Movies                                  18
LGBTQ Movies                            16
Independent Thrillers                   13
Anime Features                          13
Classic Dramas                          11
Horror Sci-Fi & Fantasy                 11
Horror Independent Movies                9
Children & Family Sci-Fi & Fantasy       8
Independent LGBTQ Movies                 8
Classic Comedies                         7
Cult Movies                              6
Independent Romantic Movies              5
Children & Family Music & Musicals       4
Cult Dramas                              3
Children & Family Classic Movies         3
Children & Family Documentaries          3
Independent Sports Movies                2
Independent Sci-Fi & Fantasy             2
Independent Music & Musicals             2
Horror Independent Thrillers             2
Cult Sci-Fi & Fantasy                    2
Cult Horror Movies                       2
Children & Family Classic Comedies       2
Horror Music & Musicals                  1
LGBTQ Thrillers                          1
Classic Independent Thrillers            1
Classic Cult Dramas                      1
Classic Cult Horror Movies               1
Classic Cult Movies                      1
Horror Independent Sci-Fi & Fantasy      1
Children & Family Classic Dramas         1
Cult Horror Thrillers                    1
Cult Sports Movies                       1
LGBTQ Music & Musicals                   1
Classic Movies                           1
Romantic Sports Movies                   1
Horror Romantic Movies                   1
Children & Family Sports Movies          1
LGBTQ Romantic Movies                    1
Name: listed_in, dtype: int64

In [ ]:
tv_show_spring = genre_depending_season(tv_shows,'Spring')
tv_show_spring

         type                                  listed_in  season
825   TV Show                  [Crime Dramas, Mysteries]  Spring
830   TV Show                         [Comedies, Dramas]  Spring
832   TV Show               [Action & Adventure, Dramas]  Spring
833   TV Show                             [Crime Dramas]  Spring
835   TV Show                             [Anime Series]  Spring
...       ...                                        ...     ...
8720  TV Show                         [Comedies, Dramas]  Spring
8740  TV Show  [British Docuseries, Science & Nature TV]  Spring
8741  TV Show  [British Docuseries, Science & Nature TV]  Spring
8780  TV Show                   [Anime Series, Kids' TV]  Spring
8795  TV Show                   [Anime Series, Kids' TV]  Spring

[541 rows x 3 columns]
              listed_in  season
0          Crime Dramas  Spring
1             Mysteries  Spring
0              Comedies  Spring
1                Dramas  Spring
0    Action & Adventure  Spring
..                  ...     ...
1   Science & Nature TV  Spring
0          Anime Series  Spring
1              Kids' TV  Spring
0          Anime Series  Spring
1              Kids' TV  Spring

[737 rows x 2 columns]

Dramas                                  101
Comedies                                 91
Kids' TV                                 81
Anime Series                             43
Crime Dramas                             38
Action & Adventure                       24
Docuseries                               23
Romantic Dramas                          22
Sci-Fi & Fantasy                         21
Science & Nature TV                      20
Romantic Comedies                        19
Horror                                   19
Reality TV                               18
Mysteries                                17
Korean Romantic Shows                    16
Stand-Up Comedy & Talk Shows             15
British Docuseries                       14
Crime Spanish-Language Shows             14
Thrillers                                12
Crime Korean Shows                        9
British Kids' TV                          9
British Comedies                          8
Crime Shows                               8
British Crime Shows                       8
Spanish-Language Dramas                   8
Teen Shows                                7
Romantic Shows                            7
Crime Action & Adventure                  7
Crime Comedies                            6
Spanish-Language Comedies                 6
British Dramas                            4
British Romantic Shows                    3
Classic & Cult TV                         3
Korean Comedies                           3
Korean Dramas                             3
Korean Action & Adventure                 3
Korean Reality TV                         3
Crime Docuseries                          2
British Crime Dramas                      2
Romantic Spanish-Language Shows           2
Spanish-Language Shows                    2
British Action & Adventure                2
British Reality TV                        2
British Crime Docuseries                  2
Korean Horror                             1
Crime Romantic Shows                      1
Shows                                     1
Crime Kids' TV                            1
Korean Stand-Up Comedy & Talk Shows       1
British Stand-Up Comedy & Talk Shows      1
British Classic & Cult TV                 1
Korean Shows                              1
Romantic Spanish-Language Dramas          1
British Romantic Dramas                   1
Name: listed_in, dtype: int64

In [ ]:
tv_show_summer = genre_depending_season(tv_shows,'Summer')
tv_show_summer

         type                 listed_in  season
184   TV Show              [Reality TV]  Summer
186   TV Show       [Romantic Comedies]  Summer
187   TV Show                [Comedies]  Summer
189   TV Show      [Kids' TV, Comedies]  Summer
193   TV Show                  [Dramas]  Summer
...       ...                       ...     ...
8684  TV Show  [Kids' TV, Korean Shows]  Summer
8749  TV Show       [Dramas, Thrillers]  Summer
8775  TV Show                [Comedies]  Summer
8783  TV Show                [Kids' TV]  Summer
8785  TV Show                [Kids' TV]  Summer

[626 rows x 3 columns]
            listed_in  season
0          Reality TV  Summer
0   Romantic Comedies  Summer
0            Comedies  Summer
0            Kids' TV  Summer
1            Comedies  Summer
..                ...     ...
0              Dramas  Summer
1           Thrillers  Summer
0            Comedies  Summer
0            Kids' TV  Summer
0            Kids' TV  Summer

[866 rows x 2 columns]

Dramas                                           129
Kids' TV                                          98
Comedies                                          90
Anime Series                                      49
Crime Dramas                                      44
Reality TV                                        40
Mysteries                                         36
Romantic Dramas                                   35
Action & Adventure                                30
Sci-Fi & Fantasy                                  25
Romantic Comedies                                 23
Crime Spanish-Language Shows                      20
Korean Romantic Shows                             18
Horror                                            17
Docuseries                                        16
Teen Shows                                        15
Crime Action & Adventure                          11
Thrillers                                         11
Romantic Spanish-Language Shows                   11
British Reality TV                                10
Classic & Cult TV                                  9
Science & Nature TV                                8
Romantic Shows                                     8
Stand-Up Comedy & Talk Shows                       8
British Docuseries                                 8
British Kids' TV                                   7
Spanish-Language Dramas                            7
Spanish-Language Comedies                          6
Korean Shows                                       6
British Dramas                                     6
Crime Korean Shows                                 5
British Crime Shows                                5
Shows                                              5
Crime Romantic Shows                               4
Spanish-Language Shows                             4
Korean Dramas                                      4
British Crime Docuseries                           4
Crime Comedies                                     3
Crime Shows                                        3
Romantic Teen Shows                                3
Korean Reality TV                                  3
British Romantic Shows                             2
Crime Docuseries                                   2
British Comedies                                   2
Crime Horror                                       2
Spanish-Language Action & Adventure                2
Romantic Action & Adventure                        1
Spanish-Language Stand-Up Comedy & Talk Shows      1
Crime Thrillers                                    1
British Action & Adventure                         1
Spanish-Language Teen Shows                        1
Korean Action & Adventure                          1
Korean Comedies                                    1
Crime Spanish-Language Action & Adventure          1
British Classic & Cult TV                          1
Korean Stand-Up Comedy & Talk Shows                1
Crime Spanish-Language Dramas                      1
International Shows                                1
Name: listed_in, dtype: int64

In [ ]:
tv_show_autumn = genre_depending_season(tv_shows,'Autumn')
tv_show_autumn

         type                              listed_in  season
1     TV Show                    [Dramas, Mysteries]  Autumn
2     TV Show             [Crime Action & Adventure]  Autumn
4     TV Show                    [Romantic Comedies]  Autumn
5     TV Show            [Dramas, Horror, Mysteries]  Autumn
8     TV Show                   [British Reality TV]  Autumn
...       ...                                    ...     ...
8592  TV Show                               [Dramas]  Autumn
8596  TV Show                             [Kids' TV]  Autumn
8599  TV Show  [British Classic & Cult TV, Comedies]  Autumn
8600  TV Show               [Kids' TV, Korean Shows]  Autumn
8797  TV Show                             [Kids' TV]  Autumn

[581 rows x 3 columns]
                    listed_in  season
0                      Dramas  Autumn
1                   Mysteries  Autumn
0    Crime Action & Adventure  Autumn
0           Romantic Comedies  Autumn
0                      Dramas  Autumn
..                        ...     ...
0   British Classic & Cult TV  Autumn
1                    Comedies  Autumn
0                    Kids' TV  Autumn
1                Korean Shows  Autumn
0                    Kids' TV  Autumn

[813 rows x 2 columns]

Dramas                                           109
Kids' TV                                         100
Comedies                                          98
Anime Series                                      42
Reality TV                                        40
Docuseries                                        36
Romantic Comedies                                 36
Crime Dramas                                      34
Mysteries                                         23
Action & Adventure                                22
Teen Shows                                        20
Sci-Fi & Fantasy                                  19
Romantic Dramas                                   18
Crime Spanish-Language Shows                      18
Science & Nature TV                               16
Horror                                            16
Thrillers                                         15
Crime Action & Adventure                          13
British Docuseries                                12
Korean Romantic Shows                             12
British Comedies                                  11
Stand-Up Comedy & Talk Shows                       9
British Crime Shows                                7
Crime Comedies                                     6
Romantic Shows                                     6
British Kids' TV                                   6
Crime Docuseries                                   5
Korean Shows                                       5
British Reality TV                                 5
Spanish-Language Shows                             4
Romantic Teen Shows                                4
British Classic & Cult TV                          3
Spanish-Language Dramas                            3
British Crime Docuseries                           3
Romantic Spanish-Language Shows                    3
Crime Korean Shows                                 3
Crime Shows                                        3
Korean Dramas                                      3
Korean Action & Adventure                          2
Classic & Cult TV                                  2
British Crime Dramas                               2
Romantic Action & Adventure                        2
British Dramas                                     2
Shows                                              2
British Horror                                     1
Crime Romantic Dramas                              1
Crime Kids' TV                                     1
International Shows                                1
Korean Comedies                                    1
Spanish-Language Action & Adventure                1
British Romantic Shows                             1
Crime Sci-Fi & Fantasy                             1
Romantic Spanish-Language Comedies                 1
Spanish-Language Stand-Up Comedy & Talk Shows      1
Romantic Mysteries                                 1
Crime Spanish-Language Dramas                      1
Crime Mysteries                                    1
Name: listed_in, dtype: int64

In [ ]:
tv_show_winter = genre_depending_season(tv_shows,'Winter')
tv_show_winter

         type                       listed_in  season
1257  TV Show                  [Anime Series]  Winter
1268  TV Show  [Crime Spanish-Language Shows]  Winter
1270  TV Show       [Spanish-Language Dramas]  Winter
1271  TV Show       [Spanish-Language Dramas]  Winter
1272  TV Show                    [Docuseries]  Winter
...       ...                             ...     ...
8736  TV Show             [Romantic Comedies]  Winter
8747  TV Show                    [Reality TV]  Winter
8758  TV Show            [British Docuseries]  Winter
8796  TV Show                        [Dramas]  Winter
8800  TV Show               [Romantic Dramas]  Winter

[566 rows x 3 columns]
                       listed_in  season
0                   Anime Series  Winter
0   Crime Spanish-Language Shows  Winter
0        Spanish-Language Dramas  Winter
0        Spanish-Language Dramas  Winter
0                     Docuseries  Winter
..                           ...     ...
0              Romantic Comedies  Winter
0                     Reality TV  Winter
0             British Docuseries  Winter
0                         Dramas  Winter
0                Romantic Dramas  Winter

[778 rows x 2 columns]

Kids' TV                                     96
Dramas                                       90
Comedies                                     88
Anime Series                                 37
Crime Dramas                                 36
Reality TV                                   35
Docuseries                                   31
Action & Adventure                           28
Romantic Dramas                              28
Romantic Comedies                            28
Korean Romantic Shows                        19
British Docuseries                           16
Mysteries                                    15
Sci-Fi & Fantasy                             15
Teen Shows                                   15
Horror                                       15
Thrillers                                    14
Science & Nature TV                          13
Stand-Up Comedy & Talk Shows                 11
Spanish-Language Dramas                      10
Crime Docuseries                             10
Crime Spanish-Language Shows                 10
Crime Action & Adventure                      8
Korean Dramas                                 8
British Reality TV                            7
Romantic Spanish-Language Shows               7
Spanish-Language Shows                        6
Classic & Cult TV                             6
British Kids' TV                              6
British Comedies                              6
Korean Comedies                               6
Crime Comedies                                6
British Crime Shows                           5
Romantic Shows                                5
Korean Shows                                  5
Spanish-Language Comedies                     4
British Crime Docuseries                      3
Shows                                         3
Crime Korean Shows                            3
British Dramas                                3
Crime Shows                                   3
Crime Romantic Shows                          2
British Action & Adventure                    2
Spanish-Language Action & Adventure           2
British Romantic Dramas                       1
Romantic Action & Adventure                   1
Crime Romantic Dramas                         1
Romantic Teen Shows                           1
British Classic & Cult TV                     1
Crime Spanish-Language Action & Adventure     1
British Romantic Shows                        1
Crime Kids' TV                                1
Crime Romantic Spanish-Language Shows         1
Crime Thrillers                               1
Korean Stand-Up Comedy & Talk Shows           1
Spanish-Language Horror                       1
Name: listed_in, dtype: int64

In [ ]:
most_movie_season = movies.groupby(data['season'])
most_movie_season['type'].value_counts()

season  type
Autumn  Movie    1448
Spring  Movie    1383
Summer  Movie    1453
Winter  Movie    1367
Name: type, dtype: int64

In [ ]:
most_tv_shows_season = tv_shows.groupby(data['season'])
most_tv_shows_season['type'].value_counts()

season  type
Autumn  TV Show    581
Spring  TV Show    541
Summer  TV Show    626
Winter  TV Show    566
Name: type, dtype: int64

In [ ]:
most_data_season = data.groupby(data['season'])
most_data_season['type'].value_counts()

season  type
Autumn  Movie      1448
        TV Show     581
Spring  Movie      1383
        TV Show     541
Summer  Movie      1453
        TV Show     626
Winter  Movie      1367
        TV Show     566
Name: type, dtype: int64